img.stretchy {
	width: 100%; /*Scales image to 150% width of parent container*/
		transition: transform .2s;
		display: block;
    margin-left: auto;
    margin-right: auto;
	}

	img.stretchy2 {
		width: 100%; /*Scales image to 150% width of parent container*/
			float: left; /*Floats image to left of container - clipping right hand side*/
			float: right; /* Floats image to right of container - clipping left hand side*/
			transition: transform .2s;
		}
	img.stretchy:hover {
		transform: scale(1.2);
		}

.snip1205 {
	position: relative;
	overflow: hidden;
	background: #000000;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	display:block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
	}
  @media screen and (min-width: 320px){
  .snip1205 {height:140px;}
  .snip1205 a {font-size: 11px !important;}
  .my-container2 {
    margin: 10% 1px 0 1px;}
    #box2 i, #box p {
      font-size: 40px;
      margin-top: 10px;
    }
    .regular {
      margin-left: 0 !important;
    }
  }
@media screen and (min-width: 375px){
  .snip1205 {height:160px;}
  .snip1205 a {font-size: 11px !important;}
  .my-container2 {
    margin: 10% 1px 0 1px;}
    #box2 i, #box p {
      font-size: 40px;
      margin-top: 10px;
    }
    .regular {
      margin-left: 0 !important;
    }
  }
@media screen and (min-width: 500px){
  .snip1205 {height:160px;}
  .snip1205 a {font-size: 11px !important;}
  .my-container2 {
    margin: 10% 1px 0 1px;}
    #box2 i, #box p {
      font-size: 40px;
      margin-top: 10px;
    }
    .regular {
      margin-left: 0 !important;
    }
  }
@media screen and (min-width: 600px){
  .snip1205 {height:190px;}
  .snip1205 a {font-size: 11px !important;}
  .my-container2 {
    margin: 10% 1px 0 1px;}
    #box2 i, #box p {
      font-size: 40px;
      margin-top: 10px;
    }
    .regular {
      margin-left: 0 !important;
    }
  }
  @media screen and (min-width: 670px) {
    .snip1205 {height:210px;}
    .snip1205 a {font-size: 14px !important;}
    .my-container2 {
      margin: 7% 1px 0 1px;
    }
      #box2 i, #box p {
        font-size: 50px;
        margin-top: 10px;
      }
  
    }
  @media screen and (min-width: 700px) {
    .snip1205 {height:230px;}
    .snip1205 a {font-size: 14px !important;}
    .my-container2 {
      margin: 7% 1px 0 1px;
    }
      #box2 i, #box p {
        font-size: 50px;
        margin-top: 10px;
      }
  
    }
@media screen and (min-width: 768px) {
    .snip1205 {height:240px;}
    .snip1205 a {font-size: 14px !important;}
    .my-container2 {
      margin: 5% 1px 0 1px;
    }
      #box2 i, #box p {
        font-size: 50px;
        margin-top: 10px;
      }
  
    }
@media screen and (min-width: 850px) {
    .snip1205 {height:270px;}
    .snip1205 a {font-size: 14px !important;}
    .my-container2 {
      margin: 5% 1px 0 1px;
    }
      #box2 i, #box p {
        font-size: 50px;
        margin-top: 10px;
      }
  
    }
@media screen and (min-width: 1035px) {
    .snip1205 {height:270px;}
    .snip1205 a {font-size: 14px !important;}
    .my-container2 {
      margin: 5% 1px 0 1px;
    }
      #box2 i, #box p {
        font-size: 50px;
        margin-top: 10px;
      }
  
    }
    @media screen and (min-width: 1240px) {
    .snip1205 {height:270px;}
    .snip1205 a {font-size: 14px !important;}
    .my-container2 {
      margin: 5% 1px 0 1px;
    }
      #box2 i, #box p {
        font-size: 50px;
        margin-top: 10px;
      }
  
    }
@media screen and (min-width: 1300px) {
      .snip1205 {height:300px;}
      .my-container2 {
        margin: 5% 30px 0 30px;
    
      }
      #box2 i, #box p {
        font-size: 75px;
        margin: 0;
      }
      }
@media screen and (min-width: 1500px) {
        .snip1205 {height:350px;}
        }
  .snip1205 * {
  overflow:hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  }
  .snip1205 img {
  vertical-align: top;
  /*height: 160px; */
  
  }

 @media screen and (min-width: 1600px) {
        .snip1205 {height:450px;}
        }
  .snip1205 img {
	vertical-align: top;
	/*height: 160px; */
	
  } 
  
  .snip1205 i {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	font-size: 34px;
	color: #000000;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	transition: all 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
	cursor: pointer;
  }
  .snip1205 a {
	left: 0;
	right: 0;
	bottom: 10%;
	position: absolute;
  }
  .snip1205 a:hover {
	color: #FFFFFF;
    text-decoration: none ;
  }
  .snip1205.blue {
	background-color: #2472a4;
  }
  .snip1205.blue i {
	color: #20638f;
  }
  .snip1205.red {
	background-color: #ab3326;
  }
  .snip1205.red i {
	color: #962d22;
  }
  .snip1205.yellow {
	background-color: #e08e0b;
  }
  .snip1205.yellow i {
	color: #c87f0a;
  }
  .snip1205.green {
	background-color: #229955;
  }
  .snip1205.green i {
	color: #1e8449;
  }
  .snip1205.orange {
	background-color: #d67118;
  }
  .snip1205.orange i {
	color: #bf6516;
  }
  .snip1205.navy {
	background-color: #2b3c4e;
  }
  .snip1205.navy i {
	color: #222f3d;
  }
  .snip1205:hover img,
  .snip1205.hover img {
	opacity: 0.3;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
  }
  .snip1205:hover i,
  .snip1205.hover i {
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	transition: all 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  } 



/* MODAL IN MOVIES MODAL */
/* POPUP CSS START */
.modal-content {
	background-color: #151515 !important;
	color: #ffffff !important;
}
.hide {
	display: none;
}

/* SLICK SHIT */
.slider {
	width: 50%;
	margin: 100px auto;
	box-sizing: border-box 
}

.slick-prev:before,
.slick-next:before {
  color: #fff;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}
.slick-slide {
padding: 3px;
}
.slick-current {
  opacity: 1;
}

/* MOVIES MODAL FULL PAGE */

.movies-panel {
  display: none;
}


.movies-inner {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(45, 48, 53, 0.95);
  z-index: 9;
}

.movies-inner .close-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
}